
  
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
    box-sizing: border-box;
}

body {
    /*background-color: rebeccapurple; */
    display: flex;
   /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    font-family: "Poppins", sans-serif;
   /* margin: 0 0 3rem; */
    margin: 0; 
    min-height: 100vh;
}

button{
    background-color: rebeccapurple;
    color: white;
    font-size: 1.2rem;
    padding: 1rem;
    font-family: inherit;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.637);
    border-radius: 5px;
    border: none;
    transition: transform 0.1s linear;
    position: relative;
    z-index: 2;
}

#btn:hover{
    background-color: rgba(40, 5, 75, 0.753);
    cursor: pointer;
}

button:focus{
    outline: none;
}

button:active{
    box-shadow: 0;
    transform: translate(2px, 2px);
}

body{
    overflow-x:hidden;
    }
    
    .cursor
    {
      opacity: 0.9; 
      width: 400px;
      height: 400px;
      position  : absolute; 
      z-index: 1;
      background: -webkit-radial-gradient(rgba(255,255,255,0.7), rgba(200,200,200,0), rgba(150,150,150,0)); /* Safari 5.1 to 6.0 */
      background: -o-radial-gradient(rgba(255,255,255,0.6), rgba(200,200,200,0), rgba(150,150,150,0)); /* For Opera 11.6 to 12.0 */
      background: -moz-radial-gradient(rgba(255,255,255,0.2), rgba(200,200,200,0), rgba(150,150,150,0)); /* For Firefox 3.6 to 15 */
      background: radial-gradient(rgba(255,255,255,0.4), rgba(200,200,200,0), rgba(150,150,150,0)); /* Standard syntax */
    }