
  
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
    box-sizing: border-box;
}

body {
    background-color: rgb(23, 4, 41); 
    display: flex;
   /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    font-family: "Poppins", sans-serif;
   /* margin: 0 0 3rem; */
    margin: 0; 
    min-height: 100vh;
}

.carousel{
    width: 500px;
    height: 500px;
  overflow: hidden; 
   box-shadow: 0px 2px 50px rgba(255, 4, 142, 0.3);
}

.image-container{
    display: flex;
    transition: transform 0.5s ease-in-out;
    transform: translateX(0);
}

img{
    object-fit: cover;
    width: 500px;
    height: 500px;

}